<%= turbo_frame_tag "users" do %>
  <p class="text-green-200"><%= notice %></p>
  <div class="p-4">
    <%= link_to "New user", new_user_path, class:"btn btn-primary btn-sm", "data-turbo-frame":"user" %>
  </div>
  <div id="users">
    <% @users.each do |user| %>
      <div class="card card-bordered card-compact m-3 shadow-xl bg-indigo-800 p-3">
        <%= render user %>
        <div class="card-actions" id="<% dom_id user %>">
          <p>
            <%= link_to "Show this user", user, class:"btn btn-secondary btn-sm", "data-turbo-frame":"user" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
