<%= turbo_frame_tag "user" do %>
  <div class="card card-bordered card-compact m-3 shadow-xl bg-indigo-800 p-3">
    <div class="card-body">
      <%= render @user %>
    </div>
    <div class="card-actions">
      <p style="text-green-300"><%= notice %></p>
      <%= link_to "Edit this user", edit_user_path(@user), class:"btn btn-secondary" %>
      <%= link_to "Back to users", users_path, class:"btn btn-info" %>
      <%= button_to "Destroy this user", @user, method: :delete, class:"btn btn-danger", "data-turbo-frame":"_top" %>
    </div>
  </div>
<% end %>
